@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

html {
  font-size: 11px;
}

:root {
  --primary-color: #eaeaea;
  --second-color: #c7cbce;
  --third-color: #bce2f3;
  --basis-color: #f4f3f3;
  --caps-color: #8df16e;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;

}

.container {
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 900px;
}

#textarea {
  margin-bottom: 30px;
  padding: 20px;
  font-size: 18px;
  color: #535353c3;
  font-weight: 400;
  width: 100%;
  height: 250px;
  resize: none;

  border: 3px solid var(--primary-color);
  border-radius: 10px;
  transition: all 0.2s;
  outline: none;

}

#textarea:focus {
  border-color: var(--third-color);
}

.keyboard {
  display: grid;
  gap: 8px;
  width: 750px;
  padding: 0 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--basis-color);
  border-radius: 10px;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.key {
  font-family: 'Poppins', sans-serif;
  width: 40px;
  height: 40px;
  border: none;
  background-color: var(--primary-color);
  color: #353434b3;
  font-weight: 500;

  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s;
}

.key:hover {
  transform: translateY(-1px) scale(1.04);
}

.key:active {
  transform: scale(0.97);
  background-color: #72c0ab92;

}

.key_control {
  background-color: var(--second-color);
}

.key_press {
  transform: scale(0.9);
  background-color: #72c0ab92;
}

.key:hover.key_press {
  transform: scale(0.9);
}

#CapsLock {
  position: relative;
}

#CapsLock.active::before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: var(--caps-color);
  top: 5px;
  left: 5px;
  position: absolute;
}

.key_colorful {
  background-color: var(--third-color);
}

.key_1-5x {
  width: 60px;
}

.key_2x {
  width: 90px;
}

.key_space {
  width: 270px;
}

.description {
  font-size: 14px;
  margin-top: 15px;
  background-color: var(--primary-color);
  color: #353434b3;
  font-weight: 400;
  padding: 10px 15px;
  border-radius: 10px;
}

.description span {
  font-weight: 900;
}