@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-color: #eaeaea;
  --second-color: #c7cbce;
  --third-color: #bce2f3;
  --basis-color: #f4f3f3;
  --caps-color: #8df16e;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  margin: 0 auto;
  max-width: 900px;
}

.keyboard {
  display: grid;
  gap: 8px;
  width: 750px;
  padding: 0 20px;
  padding-top: 40px;
  padding-bottom: 40px;

  background-color: var(--basis-color);
  border-radius: 10px;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.key {
  width: 40px;
  height: 40px;
  border: none;
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s;
}

.key:hover {
  transform: translateY(-1px) scale(1.04);
}

.key:active {
  transform: scale(0.97);
}

.key_press {
  transform: scale(0.9);
  background-color: #72c0ab92;
}

.key_control {
  background-color: var(--second-color);
}

#CapsLock {
  position: relative;
}

#CapsLock.active::before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: var(--caps-color);
  top: 5px;
  left: 5px;
  position: absolute;
}

.key_colorful {
  background-color: var(--third-color);
}

.key_1-5x {
  width: 60px;
}

.key_2x {
  width: 90px;
}

.key_space {
  width: 270px;
}